{{% for browser in browsers %}    "{{ browser.name }}": {    "default": "{{ browser.default }}",    "versions": {    {% for version in browser.versions %}        "{{ version }}": {        "image": "selenoid/{% if vnc|bool %}vnc:{{ browser.name }}_{{ version }}{% else %}{{ browser.name }}:{{ version }}{% endif %}",        "port": "4444",        "path": {{ "\"/\"" if browser.name == "chrome" else "\"/wd/hub\"" }},        "tmpfs": {"/tmp": "size={{ tmpSize }}", "/var": "size={{ varSize }}"},        "shmSize" : {{ shmSize }}        }{{ "," if not loop.last else "" }}    {% endfor %}    }    }{{ "," if not loop.last else "" }}{% endfor %}}