[Unit]
Description=Selenoid Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm selenoid
ExecStart=/usr/bin/docker run --name selenoid \
    -p {{ selenoid_port }}:{{ selenoid_port }} \
    -e TZ={{ timezone }} \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /etc/selenoid/:/etc/selenoid/:ro \
    aerokube/selenoid:latest-release
ExecStop=/usr/bin/docker stop selenoid

[Install]
WantedBy=multi-user.target
